# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Environments
venv/
env/
.env
*.env

# Database
db.sqlite3
*.db

# Static and media files
staticfiles/
media/

# IDE/Editor
.vscode/
.idea/
*.swp
*.sublime-workspace

# Logs
*.log